h1 {
  color: #F00;
}

.navWrap {
  position: relative;
  .activeNarBg {
    position: absolute;
    width: 100%;
    height: 113px;
    box-shadow: 0 20px 15px rgba(29,83,164,.06);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    .line {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      background-color: #0679fb;
    }
    .w0 {
      width: 0;
    }
    .w100 {
      width: 100%;
      -webkit-transition: width 5s linear;
      transition: width 5s linear;
    }
  }
  .activeNarBg.active0 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .activeNarBg.active1 {
    -webkit-transform: translateY(113px);
    -ms-transform: translateY(113px);
    transform: translateY(113px);
  }
  .activeNarBg.active2 {
    -webkit-transform: translateY(226px);
    -ms-transform: translateY(226px);
    transform: translateY(226px);
  }
  .nav {
    height: 113px;
    cursor: pointer;
  }
  .nav.active {
    color: #0679fb;
  }
}

ol, ul {
  list-style: none;
}
